.row_poster {
  width: 100%;
  object-fit: contain; /* Keeps image quality high no matter the size */
  max-height: 100px;
  margin-right: 10px; /* Adds gaps between the images */
  transition: transform 450ms;
}

.row_poster:hover {
  transform: scale(1.08);
}

.row_posters {
  display: flex;
  overflow-y: hidden; /* No scroll bar should be seen if present vertically */
  overflow-x: scroll;
  padding: 20px;
}

.row_posters::-webkit-scrollbar {
  display: none; /* Helps keep scrollbar there but without being seen */
}

.row_posterLarge {
  max-height: 250px;
}

.row_posterLarge:hover {
  transform: scale(1.09);
}

.row {
  margin-left: 20px;
  color: white;
}
